.my-container{
    position: relative;
    
}

.right-icon-bg{
    position: absolute;
    top: 45%;
    right: 0px;
    width: 30px;
    height: 100px;
    background-color: gainsboro;
    opacity: 0.6;
    border-radius: 10px 0px 0px 10px ;
    transform: translateY(-50%);
    cursor: pointer;
    transition:all  0.2s ease ;
}

.right-icon-bg:hover {
    opacity: 0.8;    
}

.right-icon{
    position: absolute;
    top: 45%;
    right: 0px;
    z-index: 999;
}

.left-icon-bg{
    position: absolute;
    top: 45%;
    left: 0px;
    width: 30px;
    height: 100px;
    background-color: gainsboro;
    opacity: 0.6;
    border-radius: 0px 10px 10px 0px ;
    transform: translateY(-50%);
    cursor: pointer;
    transition:all  0.2s ease ;
}
.left-icon-bg:hover{
    opacity: 0.8;
}
.left-icon{
    position: absolute;
    top: 45%;
    left: 0px;
    z-index: 999;
   
}